
.note {
    position:fixed;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    background-color: #06868D;
  }
  .divNote {
    position:absolute;
  margin-top: 530px;
  margin-left: 1240px;}
  .modalNote {
    position: absolute;
    margin-left: 10px;
  }
  
 
 
  