.form-icon-container6{position:relative}.form-icon-container6 .form-icon6{position:absolute;right:15.7rem}.form-icon-container6 .form-icon-input6{padding-left:40px}.form-icon-container6 .form-icon6{top:0.5rem}
.message{
    height: 422px;
	width: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	flex-shrink: 0;
    overflow-x: hidden;

    }

  
.contact{
        height: 458px;
        flex-wrap: wrap;
        overflow-y: auto;
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
        }
       